.btn {
  width: 100%;
  margin-bottom: 32px;
  button {
    font-family: "Work Sans";
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    color: #064946;
    width: 100%;
    background: #efeb6a;
    border-radius: 8px;
    padding: 12px;
    outline: none;
    border-color: #efeb6a;
  }
}
.card {
  background: #fdfdec;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
}
