// @import "~bootstrap-4-grid/css/grid.min.css";
// main{

//   min-height: calc(100vh - 122px);
//   font-family: "Archivo";
//   .body{
//     margin: 0px;
//     padding: 0px;
//   }
// }

// @import "theme";
// @import "fonts";
@import "~bootstrap-4-grid/css/grid.min.css";
/* ---------------------- general ---------------------- */
body {
  margin: 0;
  // background-color: $template-background;
  font-size: 14px;
  * {
    // color: $template-color;
    box-sizing: border-box;
    font-family: "Archivo";
  }
}
main {
  min-height: calc(100vh - 122px);
  background-color: #E5E5E5;
}

main {
  margin: 40px 0;

}
html,
body,
#root,
.App {
  height: 100%;
}
